<div class="row-fluid">
    <div class="span12">
        <h3>List of Complaints</h3>
        <input class="span2" placeholder="Search..." ng-model="filterCriteria" type="text">
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Entity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="complaint in complaints | filter:filterCriteria track by complaint.id">
                    <td>{{ complaint.title}}</td>
                    <td>{{ complaint.body }}</td>
                    <td>{{ complaint.entity }}</td>
                    <td>
                        <a href="{{ RouteManager.complaints.edit|path:{id: complaint.id} }}" class="btn btn-mini btn-info">Edit</a>
                        <button ng-click="delete($index)" class="btn btn-mini btn-danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <pagination total-items="bigTotalItems" page="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
        <div class="pull-left">
            <a href="{{ RouteManager.complaints.new|path }}" class="btn btn-primary">New Complaint</a>
        </div>
    </div>
</div>