<form name="entity_form" class="form-horizontal" novalidate="" ng-submit="save()">
    <div ng-include src="'views/shared/messages.html'"></div>

	<div class="control-group">
		<label class="control-label" for="title">Name*</label>
		<div class="controls">
			<input ng-model="entity.name" type="text" name="name" placeholder="Name" required=""
                   ng-class="{'input-error': entity_form.name.$dirty && entity_form.name.$error.required, 'input-fixed': entity_form.name.$dirty && entity_form.name.$valid}">
            <span class="text-error" ng-show="entity_form.name.$error.required && entity_form.name.$dirty">
                Required!
            </span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="body">Description*</label>
		<div class="controls">
			<textarea ng-model="entity.description" type="text" name="description" placeholder="Description" required
                      ng-class="{'input-error': entity_form.description.$dirty && entity_form.description.$error.required, 'input-fixed': entity_form.description.$dirty && entity_form.description.$valid}">
            </textarea>
            <span class="text-error" ng-show="entity_form.description.$error.required && entity_form.description.$dirty">
                Required!
            </span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="body">Address</label>
		<div class="controls">
			<input ng-model="entity.address" type="text" name="address" placeholder="Address"
                   ng-class="{'input-fixed': entity_form.address.$dirty && entity.address !== ''}">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="body">Email*</label>
		<div class="controls">
			<input ng-model="entity.email" type="email" name="email" id="email" placeholder="Email" required
                   ng-class="{'input-error': entity_form.email.$dirty && entity_form.email.$error.required, 'input-fixed': entity_form.email.$dirty && entity_form.email.$valid}">
            <span class="text-error" ng-show="entity_form.email.$error.required && entity_form.email.$dirty">Required!</span>
            <span class="text-error" ng-show="entity_form.email.$error.email && entity_form.email.$dirty">
                Not a valid email!
            </span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="body">Phone</label>
		<div class="controls">
			<input ng-model="entity.phone" only-numbers type="text" name="phone" placeholder="Phone"
                   ng-class="{'input-fixed': entity_form.phone.$dirty && entity.phone != null}">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="body">Status</label>
		<div class="controls">
            <select ng-model="entity.entityStatus" name="status"
                    required="required" ng-options="s.status as s.description for s in statusList"
                    ng-class="{'input-fixed': entity_form.status.$dirty}"></select>
            </select>
		</div>
	</div>

    <div class="control-group">
        <label class="control-label" for="Title">Category*</label>
        <div class="controls">
            <select ng-model="entity.categoryId" name="category"
                    required="required" ng-options="c.id as c.name for c in categories"
                    ng-class="{'input-error': entity_form.category.$dirty && entity_form.category.$error.required, 'input-fixed': entity_form.category.$dirty && entity_form.category.$valid}">
            </select>
            <span class="text-error" ng-show="entity_form.category.$error.required">Required!</span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success"
                    ng-disabled="entity_form.$invalid || showLoading">Save</button>
            <a href="{{ RouteManager.entities.index|path }}">Back to List</a>
        </div>
    </div>
</form>


