<legend>Login</legend>
<form class="form-horizontal" ng-submit="save()">
	<div class="control-group">
		<label class="control-label">Email</label>
		<div class="controls">
			<input type="text" ng-model="user.email">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Password</label>
		<div class="controls">
			<input type="password" ng-model="user.password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button class="btn btn-success">Login</button>
		</div>
	</div>
</form>