<div class="home-feature block-25">
    <div class="container">
        <!-- features section starts -->
        <div class="row">
            <div class="col-md-3">
                <!-- feature single section -->
                <div class="feature feature-one">
                    <i class="fa fa-location-arrow"></i>

                    <h1>Free Shipping</h1>

                    <p>Free Shipping on Orders Over $<span ng-bind="CONSTANTS.FREE_SHIPPING_OVER"></span></p>
                </div>

            </div>
            <div class="col-md-3">
                <!-- feature single section -->
                <div class="feature feature-two">
                    <i class="fa fa-gift"></i>

                    <h1>Buy 1 Get 1</h1>

                    <p>Apply For Longtime Customers</p>
                </div>
            </div>
            <div class="col-md-3">
                <!-- feature single section -->
                <div class="feature feature-three">
                    <i class="fa fa-money"></i>

                    <h1>Money Back !</h1>

                    <p>Money Back Guarantee 30 days</p>
                </div>
            </div>
            <div class="col-md-3">
                <!-- feature single section -->
                <div class="feature feature-four">
                    <i class="fa fa-trophy"></i>

                    <h1>Quality Product</h1>

                    <p>Quality Commitment all Products</p>
                </div>
            </div>
        </div>
        <!-- features section ends -->
    </div>
</div>

<!-- main body block ends -->

<!-- main body section ends -->

<!-- footer section starts -->
<footer>
    <!-- footer main area -->
    <div class="footer-main-area">
        <div class="container">
            <!-- footer widget row -->
            <div class="row footer-row-one">
                <!-- footer widget one -->
                <div class="col-md-3 col-sm-6 widget-area">
                    <h1 class="widget-heading">Information</h1>

                    <div class="widget-content">
                        <ul>
                            <li><a href="">Our Blog</a></li>
                            <li><a href="">About Our Shop</a></li>
                            <li><a href="">Secure Shopping</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Delivery information</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer widget two -->
                <div class="col-md-3 col-sm-6 widget-area">
                    <h1 class="widget-heading">Customer Care</h1>

                    <div class="widget-content">
                        <ul>
                            <li><a href="">Contact us</a></li>
                            <li><a href="">Sitemap</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                            <li><a href="">Gift Vouchers</a></li>
                            <li><a href="">BestSellers</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer widget three -->
                <div class="col-md-3 col-sm-6 widget-area">
                    <h1 class="widget-heading">Your Account</h1>

                    <div class="widget-content">
                        <ul>
                            <li><a href="">My Wishlist</a></li>
                            <li><a href="">Menu item Number</a></li>
                            <li><a href="">Menu Item four</a></li>
                            <li><a href="">Menu item five</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer widget four -->
                <div class="col-md-3 col-sm-6 widget-area">
                    <h1 class="widget-heading">Newsletter Subscribe</h1>

                    <div class="widget-content">
                        <p>Subscribe to be the first to know about Sales, <br>
                            Events, and Exclusive Offers!</p>

                        <form action="" method="post" class="subscribe-form">
                            <input type="text" placeholder="Enter your email" value="">
                            <input type="submit" class="" value=">">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer privacy area starts -->
    <div class="footer-privacy-area">
        <div class="footer-privacy-area-top">
            <div class="container">
                <!-- footer widget row two -->
                <div class="row footer-row-two">
                    <!-- footer widget five -->
                    <div class="col-md-6 widget-area widget-contact">
                        <a href="{{ RouteManager.home|path }}" class="footer-logo"><img src="images/footer-logo.png" alt=""></a>

                        <div class="footer-contact">
                            <p class="copyright-meta">Copyright© 2014 Super-Shoes Store. All Rights Reserved.</p>

                            <p>Mobile:<span> (506) 8650 4160</span></p>

                            <p>
                                Email: <a href="mailto:someone@example.com" target="_top">normandanielmq@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <!-- footer widget six -->
                    <div class="col-md-6 widget-area widget-right">
                        <div class="widget-content">
                            <div>
                                <a href="">Site Map</a>
                                <a href="">Advanced</a>
                                <a href="">Orders and Returns</a>
                                <a href="">Contact Us</a>
                            </div>
                            <p class="dev-info">Developed by <a href="mailto:normandanielmq@gmail.com">Norman Murillo</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-privacy-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 left-part">
                        <ul class="footer-social">
                            <li><span>Connect Us</span></li>
                            <li><a href=""><i class="fa fa-facebook-square"></i> Facebook</a></li>
                            <li><a href=""><i class="fa fa-twitter-square"></i> Twitter</a></li>
                            <li><a href=""><i class="fa fa-pinterest-square"></i> Pinterest</a></li>
                            <li><a href=""><i class="fa fa-google-plus-square"></i> Google Plus</a></li>
                        </ul>

                    </div>
                    <div class="col-md-5 offset-col-2 right-part">
                        <ul>
                            <li><span>Payment Method</span></li>
                            <li><a href=""><img class="greyscale" src="images/icon/visa.png" alt=""></a></li>
                            <li><a href=""><img class="greyscale" src="images/icon/amex.png" alt=""></a></li>
                            <li><a href=""><img class="greyscale" src="images/icon/master.png" alt=""></a></li>
                            <li><a href=""><img class="greyscale" src="images/icon/visa-d.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- go to top -->
        <a href="" class="go-top" title="Go to top"><i class="fa fa-chevron-up"></i></a>

    </div>
    <!-- footer privacy area ends -->

</footer>
<!-- footer section ends -->

<!-- auto scroll to top -->

<!-- jQuery plugin hook and custom js -->
<script src="js/go-top.js"></script>
<script src="js/init.js"></script>