<div class="main-banner-unit home-one  block-45">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-unit">
                    <h2>Welcome to <span>Super Shoes Store</span></h2>

                    <div>
                        <h1>Best Shoes <span>for the</span></h1>

                        <h1>Best Price</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- slider section starts -->
                <div class="main-slide hidden-xs">
                    <!-- flexSlider starts -->
                    <div id="main-slide" class="flexslider flexround">
                        <ul class="slides">
                            <li>
                                <img src="images/slide/slide-1.png" alt="">

                                <div class="flex-caption">
                                    <h1>Product</h1>

                                    <h1>$24.00</h1>
                                    <a href="">order now</a>
                                </div>
                            </li>

                            <li>
                                <img src="images/slide/slide-2.png" alt="">

                                <div class="flex-caption">
                                    <h1>Product</h1>

                                    <h1>$54.00</h1>
                                    <a href="">order now</a>
                                </div>
                            </li>

                            <li>
                                <img src="images/slide/slide-3.png" alt="">

                                <div class="flex-caption">
                                    <h1>Product</h1>

                                    <h1>$45.00</h1>
                                    <a href="">order now</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- flexSlider ends -->
                </div>
                <!-- slider section ends -->
            </div>
        </div>
    </div>
</div>

<!-- main body block starts -->
<div class="container main-body-block">
    <!-- top panel starts -->
    <div class="top-panel row block-45">
        <!-- panel one -->
        <div class="col-sm-4 ">
            <figure class="panel panel-one">
                <img src="images/panel-1.jpg" alt="">
                <figcaption>
                    <a href="{{ RouteManager.shop.list|path }}" class="btn-panel">shop now</a>
                </figcaption>
            </figure>
        </div>
        <!-- panel two -->
        <div class="col-sm-4">
            <figure class="panel panel-two">
                <img src="images/panel-2.jpg" alt="">
                <figcaption>
                    <a href="{{ RouteManager.shop.list|path }}" class="btn-panel">shop now</a>
                </figcaption>
            </figure>
        </div>
        <!-- panel three -->
        <div class="col-sm-4">
            <figure class="panel panel-three">
                <img src="images/panel-3.jpg" alt="">
                <figcaption>
                    <a href="{{ RouteManager.shop.list|path }}" class="btn-panel">shop now</a>
                </figcaption>
            </figure>
        </div>
    </div>
    <!-- top panel ends -->

    <!-- home page featured product section starts -->

</div>
<!-- home page featured product section ends -->